
body * {
    text-shadow: none !important;
}

body {
    text-align: right;
}

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
    max-width: 100%;
    height: auto;
}

#top-bar {
    z-index: 20;
    background-color: #3388cc;
}

#top-bar-logo {
    max-height: 8vh;
}

#top-bar .navbar-toggler {
    width: initial;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}

#top-bar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#top-bar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#top-bar-items {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #13324a;
    width: 0;
    max-width: 100%;
}

#top-bar-items.active {
    width: auto;
}

#top-bar .expand, #top-bar .close {
    font-family: dashicons !important;
    box-shadow: none;
    transition: all .5s ease;
}

#top-bar .expand {
    width: 2.5em;
    float: left !important;
}

#top-bar .close {
    width: 2em;
    left: 0;
}

#top-bar .expanded.expand {
    transform: rotate(45deg);
}

#top-bar ul {
    padding: 0;
    height: 100%;
    overflow: hidden auto;
}

#top-bar li {
    background-color: #154061;
    padding: 0;
}

#top-bar li a {
    color: #000;
}

#top-bar .sub-menu li {
    background-color: #19507b;
}

#top-bar .sub-menu ul li {
    background-color: #2376b7;
}

#top-bar a {
    color: #fff;
}

#top-bar-items a {
    padding: 1.5vh 4vw 1.5vh 0;
    display: inline-block;
    font-weight: 400;
    width: 100%;
}

#top-bar .sub-menu {
    height: 0;
}

#top-bar .sub-menu.active {
    height: auto;
}

#wrap.faded {
    opacity: .1;
}

#wrap {
    opacity: 1;
    transition: opacity .5s ease;
}

#page-footer {
    background-color: #3388cc;
}

#page-footer li {
    margin: 1em 0;
}

#page-footer a {
    color: #fff;
    font-weight: 100;
}

@media (max-width: 575px) {

    .navbar-brand {
        font-size: 90%;
        margin-left: .2rem;
    }

    #top-bar .navbar-toggler {
        padding: .1rem .3rem;
    }

    .navbar-toggler-icon {
        height: 1em;
        width: 1em;
    }

}