
.text-left {
    text-align: right !important;
}

.anim-slide {
    background-color: #225A86;
}

.anim-slide img {
    border-radius: 5px;
}

.slide-content * {
    position: relative;
    overflow: hidden;
}

.slide-title {
    text-shadow: #000 0 0 2px;
}

#slide-1 .slide-content {
    text-align: center;
}

#s1-img {
    max-height: 50%;
    width: auto;
}

#s2-title {
    z-index: 9;
}

#s2-2 {
    left: 0;
}

#s3-img-1 {
    right: 3em;
}

#s3-img-2 {
    left: 3em;
}

#s4-text-img {
    background: #225A86 center/contain no-repeat;
}

#s4-2 {
    left: 0;
}

#s4-3 {
    bottom: 25vh;
}

#slide-6 img, #slide-8 img, #slide-9 img {
    max-height: 50%;
    bottom: 20vh;
    max-width: 45vw;
}

#slide-6 img, #slide-9 img {
    height: 30vh;
}

#s6-img-1, #s8-img-1, #s9-img-1 {
    right: 2em;
}

#s6-img-2, #s8-img-2, #s9-img-2 {
    left: 2em;
}

#slide-7 img {
    max-height: 25%;
    width: auto;
    min-width: 15%;
    bottom: 15vh;
}

#s7-img-1 {
    right: 5%;
}

#s7-img-2 {
    right: 20%;
}

#s7-img-3 {
    right: 35%;
}

#s7-img-4 {
    right: 50%;
}

#s7-img-5 {
    right: 65%;
}

#lvl-2 {
    background: #000 center/cover no-repeat fixed;
}

#lvl-2 .circle {
    border-radius: 50%;
    transition: all .5s ease;
    color: transparent;
    background: #fff center/cover no-repeat;
}

#lvl-2 a:hover .circle {
    background: #000000cc;
    color: #fff;
    background-image: unset !important;
}

#lvl-2 .circle p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#lvl-2 a {
    color: #fff;
}

#lvl-3 {
    background-color: #000;
    color: #fff;
}

@media (min-width: 576px) {

    #s4-1 p, #s4-2 p {
        position: absolute;
    }

    #s4-text-img {
        clip-path: ellipse(40% 45% at 50% 45%);
    }

    #s4-text-1 {
        top: 20vh;
        right: 25vw;
    }

    #s4-text-2 {
        top: 30vh;
        right: 20vw;
    }

    #s4-text-3 {
        top: 55vh;
        right: 25vw;
    }

    #s4-text-4 {
        top: 45vh;
        right: 20vw;
    }

    #s4-text-5 {
        left: 20vw;
        top: 45vh;
    }

    #s4-text-6 {
        top: 20vh;
        left: 25vw;
    }

    #s4-text-7 {
        top: 30vh;
        left: 20vw;
    }

    #s4-text-8 {
        top: 55vh;
        left: 25vw;
    }

    #s4-3 {
        top: 10vh;
        bottom: initial;
    }

    #lvl-2 .circle {
        width: 25vw;
        height: 25vw;
    }
}

@media (max-width: 575px) {

    #lvl-2 .circle {
        width: 60vw;
        height: 60vw;
        margin: 10% auto;
    }

}